<div class="container text-center p-3 my-3">
    <div class="row">
        <div class="col border p-3 my-3">
            <h1>Ticket Purchase App</h1>
            <p class="lead">Welcome to the Fingerprint Demo!</p>
            <div class="container">
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/register']">Register</a>
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/login']">Login</a>
            </div>
        </div>
    </div>
</div>