#stolenCardWarning{
    background: gray;
    font: 25px;
    font-weight: 900;
    text-align: center;
    color:white;
    height:200px;
    display: none;
}
#stolenCardWarning h2{
    padding-top: 95px;
}
